[submodule "sublimelint"]
	path = sublimelint
	url = git://github.com/lunixbochs/sublimelint.git
[submodule "SublimeCodeIntel"]
	path = SublimeCodeIntel
	url = git://github.com/Kronuz/SublimeCodeIntel.git
[submodule "soda-theme"]
	path = soda-theme
	url = https://github.com/buymeasoda/soda-theme.git
[submodule "sublime-text-2-git"]
	path = sublime-text-2-git
	url = https://github.com/kemayo/sublime-text-2-git.git
[submodule "PhpDoc"]
	path = PhpDoc
	url = https://github.com/SublimeText/PhpDoc.git
